<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Permisos de almacenamiento -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoEnvio"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="29">

        <meta-data
            android:name="org.osmdroid.config"
            android:resource="@xml/osmdroid_config" />

        <!-- Nueva pantalla inicial: SplashActivity -->
        <activity
            android:name=".menus.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Resto de actividades -->
        <activity android:name=".loginSignup.RegisterActivity" android:exported="false" />
        <activity android:name=".loginSignup.LoginActivity" android:exported="false" />
        <activity android:name=".EnvioActivity" android:exported="false" />
        <activity android:name=".RutasActivity" android:exported="false" />
        <activity android:name=".MisRecoleccionesActivity" android:exported="false" />
        <activity android:name=".SeguimientoActivity" android:exported="false" />
        <activity android:name=".MapaDireccionActivity" android:exported="false"/>
        <activity android:name=".RecoleccionDetalleActivity" android:exported="false"/>
        <activity android:name=".EstadisticasActivity" android:exported="false"/>
        <activity android:name=".perfil.PerfilActivity" android:exported="false"/>
        <activity android:name=".menus.MenuPrincipalActivity" android:exported="false" />
        <service android:name=".services.NotificacionService" android:exported="false" />

    </application>

</manifest>
